<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div id="new-body">
        <h1>New Animal Form</h1>
        <form action="/animals" method="post" id="newform">
            <fieldset id="newanimal">
                <legend>Add a animal to the collection</legend>
                    <label for="species">Species</label>
                    <input type="text" name="species" id="species"><br>
                    <label for="location">Location</label>
                    <input type="text" name="location" id="location"><br>
                    <label for="extinct">Extinct</label>
                    <input type="checkbox" name="extinct" id="extinct"><br>
                    <label for="lifeExpectancy">Life Expectancy</label>
                    <input type="number" name="lifeExpectancy" id="lifeExpectancy"><br>
                <input type="submit" value="Add an animal to the collection">
            </fieldset>
        </form>
    </div>
</body>
</html>