 /***************** NEW PAGE **************/

#newform {
    width: 50%;
    box-sizing: border-box;
}

fieldset {
    border: 10px solid gray;
    border-radius: 1rem;
    padding: 20px;
    margin: 20px 0;
    font-size: 20px;
}

legend {
    padding: 0px 10px;
    color: rgb(0, 128, 45);
}

label {
    color: rgb(0, 128, 45);
    display: block;
}

input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
}

input:focus {
    outline: 0;
    border: 5px solid rgba(199, 155, 43, 0.695);
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    background-color: rgba(199, 155, 43, 0.695);
    box-shadow: 2px 2px rgb(0, 128, 45);
    font-size: 1.3em;
    color: whitesmoke;
    border: 0px;
    transition: 0.2s ease-in-out;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: rgb(0, 128, 45);
    box-shadow: 2px 2px rgba(199, 155, 43, 0.695);
}

#new-body {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/****************** INDEX PAGE ***************/

.index-h1 {
    text-align: center;
}
nav {
    display: flex
}
.nav-btn {
    margin: auto;
    padding: 1rem;
    font-size: 20px;
    box-shadow: 2px 2px 2px rgb(0, 128, 45);
    border: none;
    border-radius: 10px;
}


.nav-link {
    text-decoration: none;
}

.animal-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  
}

.animal {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding: 1rem;
}

.animal-species {
    text-decoration: none;
    font-size: 1rem;
    font-size: 40px;
    width: 30%;
}

.animal-species:hover {
    cursor: pointer;
    color: rgb(0, 128, 45);
    /* background-color: rgba(199, 155, 43, 0.695); */
    
}

.cta {
    display: flex;
    gap: .5rem;
}

#deleteform > input {
    background-color: rgba(199, 155, 43, 0.695);
    color: white;   
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: palatino;
    color: rgb(0, 128, 45);
    background-color: rgba(22, 47, 18, 0.335);
} 

.image-header {
    background-image: url("https://i.pinimg.com/originals/43/11/ff/4311ff9d91ab67cf24450e8bfa02bd82.gif");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    padding-top: 200px;
}

/****************** SHOW ********************/

#show-body {
    text-align: center;
    font-size: 30px;
}